[character="MidoriHappy"] {
  --color:#00533f !important;
  --light-mode:hsl(166, 54%, 93%) !important;
  --dark-mode:hsl(166, 12%, 25%) !important;
  --icon:url("https://cdn.jsdelivr.net/gh/310mc/css/img/midorihappy.png") !important;
}
[character="MidoriHappy"]::before {
  content: "Midori" !important;
}

[character="Midori"][happy] {
  --icon:url("https://cdn.jsdelivr.net/gh/310mc/css/img/midorihappy.png") !important;
}
